.home {
  font-family: CharlieDisplay-regular;
  background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255)) no-repeat;
  height: calc(100vh - 60px);

  .main {
    display: flex;
    justify-content: center;
    padding: 126px 100px;

    .main-content {
      padding: 70px 0;
      width: 58%;
      margin-inline-end: 120px;

      h1 {
        font-size: 3rem;
        line-height: 1.25;
        font-family: CharlieDisplay-semibold;
        margin-block-end: 8px;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-family: CharlieText-regular;
        margin-block-end: 20px;
      }

      a {
        background-color: #0065ff;
        font-family: CharlieText-regular;
        padding: 0.7rem 1rem 0.8rem;
        border-radius: 4.8px;
        color: #fff;
        transition: background-color 250ms ease-out;

        &:hover {
          background-color: #0056d9;
          cursor: pointer;
        }
      }
    }

    .main-img {
      width: 42%;
      min-width: 100px;
    }
  }
}
