.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000a3;
  overflow-y: auto;
}

.task-details-container {
  display: inline-block;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  // height: fit-content;
}

.task-details {
  position: relative;
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #f4f5f7;
  z-index: 10;
  border-radius: 2px;
  width: 768px;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  &:hover {
    cursor: auto;
  }

  .cover-color {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.img {
      height: 160px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  .close-task-details {
    position: absolute;
    right: 3px;
    top: 2px;
    background-color: transparent;
    border: none;
    color: $light-gray;
    font-size: 23px;
    padding: 6px 6px 2px;
    margin: 4px;
    border-radius: 50%;

    &:hover {
      background-color: #e1e4e9;
    }
  }

  .task-header {
    height: 60px;
    margin-left: 48px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 13px;

    textarea {
      height: 32px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      width: 97%;
      padding: 4px 8px;
      transition: box-shadow 0.2s;

      &:focus {
        background-color: white;
        box-shadow: inset 0 0 0 2px $blue-500;
      }
    }

    .header-icon {
      position: relative;
      right: 26px;
      bottom: 46px;
      font-size: 18px;
    }

    .sub-title {
      color: #616d82;
      font-size: 14px;
      margin-inline-start: 8px;
    }
  }

  .task-body {
    height: 100%;
    display: flex;
    padding: 0 16px 8px;

    h3 {
      color: #172a4d;
      font-size: 17px;
      line-height: 20px;
      font-weight: 600;

      & + svg {
        position: relative;
        right: 33px;
        bottom: 17px;
        font-size: 18px;
      }
    }

    .task-content {
      flex-grow: 3;
      margin-inline-end: 8px;
    }
  }
}
