.add-new {
    width: 272px;
    background-color: #ebecf0;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;


    form {
        // width: 100%;
    }

    input {
        border-radius: 3px;
        background-color: white;
        padding: 9px 8px;
        box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
        border: none;
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        font-size: 14px;
        border: none;
        padding: 6px 6px;
        height: 32px;
        border-radius: 3px;
    }

    button:first-of-type {
        background-color: #0079bf;
        color: white;
    }

    button:last-of-type {
        margin-left: 10px;
    }
}