.app-header {
  font-family: CharlieText-regular;
  background-color: #026aa7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  position: relative;
  z-index: 100;

  .main-logo {
    h1 {
      font-size: 1.8rem;
      letter-spacing: 1px;
      line-height: 30px;
    }

    img {
      margin-right: 7px;
      width: 22px;
    }

    font-family: CharlieDisplay-bold;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }

  .home-nav {
    font-size: 1.25em;
    display: flex;
    align-items: center;

    & > * {
      padding: 8px 24px;
      height: 44px;
      display: flex;
      align-items: center;
    }

    .login {
      color: #172a4d;
    }

    .signup {
      background-color: $blue-main;
      color: white;
      &:hover {
        background-color: #0747a6;
      }
    }
  }

  &.home-header {
    background-color: #fff;
    .home-nav > * {
      height: 60px;
    }

    &:hover {
      box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
    }
  }

  &.login-header {
    display: none;
  }
}
