.checklist-preview {
    margin-bottom: 40px;

    button {
        padding: 6px 12px;
        margin-top: 0px;
        background-color: $background-gray;
        border: none;
        text-align: left;
        color: #1c2a4b;
        display: flex;
        align-items: center;
        border-radius: 3px;
        line-height: 20px;

        &:hover {
            background-color: #e1e4e9;
        }

        &:active:hover {
            background-color: #e4f0f5;
            color: rgb(0, 121, 192);
        }
        
    }

    .checklist-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        // margin-inline-start: 40px;

        .left {
            padding-left: 7px;
            gap: 15px;
            
            h3 {
                font-size: 16px;
            }
            svg {
                font-size: 18px;
                position: static;
                font-weight: 600;
            }
        }

        .right {
            margin-right: 2px;
        }

        &>* {
            display: flex;
            align-items: center;
        }
    }

    .checklist-status {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-inline-start: 8px;

        p {
            padding-left: 1px;
            font-size: 10px;
        }

        .completion-bar {
            flex: 1;
            height: 8px;
            background-color: #091e4214;
            border-radius: 4px;
        }
    }

    .add-todo-button {
        margin-top: 8px;
        margin-left: 40px;
    }
}