.group-list {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-wrap: nowrap;
    height: calc(100% - 52px);
    align-items: flex-start;
    gap: 8px;
    line-height: 20px;
    overflow-x: auto;

    .add-task-button {
        height: 40px;
        border: none;
        min-width: 272px;
        text-align: start;
        // padding: 8px 6px;
        padding: 0px 8px 0px 6px;
        transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
        font-size: 14px;
        width: 272px;
        border-radius: 3px;
        border: none;
        background-color: #ffffff3d;
        color: white;
        // padding-left: 20px;

        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 6px 8px;
            gap: 6px;

        }
        
        &:hover {
            background-color: #ffffff52;
        }
    }
}