.group-preview {
    background-color: #ebecf0;
    width: 272px;
    border-radius: 3px;
    padding: 8px;
    font-size: 0.875rem;

    .group-title {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        color: #172b4d;
        padding: 6px;
        font-weight: 800;

        &:hover {
            cursor: pointer;
        }
    }

    .add-task-button {
        height: 30px;
        border: none;   
        width: 100%;
        text-align: start;
        font-size: 14px;
        border-radius: 3px;
        margin-top: 9px;

        &:before {
            content: "\002B";
        }

        &:hover {
            color: #172b4d;
            background-color: #091e4214;
        }
    }
}