.quick-edit-buttons {
    z-index: 200;
    position: absolute;
    width: 240px;
    height: 288px;
    top: 0;
    left: -100%;
    // right: 100%;

    button {
        display: block;
        margin: 0 0 4px 8px;
        padding: 6px 12px 6px 8px;
        transition: transform 85ms ease-in;
        color: #fff;
        background-color: #0009;

        &:hover {
            background-color: #000c;
            transform: translateX(5px);
        }
    }
}