.task-preview {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 0 #091e4240;
    margin: 0 8px;
    overflow: hidden;
    flex-shrink: 0;

    .cover-color {
        min-height: 32px;
        background-size: 100% auto;


        &.img {
            margin-bottom: -5px;
            position: relative;

            div {
                position: absolute;
                bottom: 0;
            }
        }
    }

    .task-body {
        padding: 6px 8px;
        word-break: break-word;

        .task-preview-icons {
            margin-top: 1px;
            font-size: 12px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 5px;
            padding-top: 7px;
            gap: 13px;

            .attachments-icon {
                display: flex;
                gap: 6px;
                align-items: center;
                justify-content: center;
            }
        }

    }

    &:hover {
        cursor: pointer;
        background-color: #F4F4F8;
    }
}