.task-list {
    padding: 5px 0px 2px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 7px;
    overflow-x: hidden;
    max-height: calc(100vh - 44px - 52px - 108px);
    overflow-y: auto;

}