.task-preview {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 0 #091e4240;
    margin: 0 8px;
    overflow: hidden;

    .cover-color {
        height: 33px;
        
    }

    .task-body {
        padding: 6px 8px;

    }

    &:hover {
        cursor: pointer;
        background-color: #F4F4F8;
    }
}