.green {
    background-color: #7BC86C;
}

.yellow {
    background-color: #F5DD29;
}

.orange {
    background-color: #FFAF3F;
}

.red {
    background-color: #EF7564;
}

.purple {
    background-color: #CD8DE5;
}

.dark-blue {
    background-color: #5BA4CF;
}

.blue {
    background-color: #29CCE5;
}

.lime {
    background-color: #6DECA9;
}

.pink {
    background-color: #FF8ED4;
}

.navy {

    background-color: #172B4D;
}

.light-grey {
    background-color: #5e6c844d;
}

.grey {
    background-color: #091e4299;
}

.white {
    background-color: white;
}