.green {
  background-color: #7bc86c;
}

.yellow {
  background-color: #f5dd29;
}

.orange {
  background-color: #ffaf3f;
}

.red {
  background-color: #ef7564;
}

.purple {
  background-color: #cd8de5;
}

.dark-blue {
  background-color: #5ba4cf;
}

.blue {
  background-color: #29cce5;
}

.lime {
  background-color: #6deca9;
}

.pink {
  background-color: #ff8ed4;
}

.navy {
  background-color: #172b4d;
}

.light-grey {
  background-color: #5e6c844d;
}

.grey {
  background-color: #091e4299;
}

.white {
  background-color: white;
}

.btn {
  border: none;
  padding: 6px 12px;
  font-size: 0.875rem;
  color: #172b4d;
  // margin: 10px 12px;
  border-radius: 3px;
  background-color: #091e420a;

  &:hover {
    background-color: #091e4214;

    .btn {
      border: none;
      padding: 6px 12px;
      font-size: 0.875rem;
      color: #172b4d;
      // margin: 10px 12px;
      border-radius: 3px;
      background-color: #091e420a;

      &:hover {
        background-color: #091e4214;

        &:active {
          background-color: #e4f0f6;
          color: $blue-main;
        }
      }

      &.blue {
        color: white;
        background-color: #0079bf;

        &:hover {
          background-color: #026aa7;
        }
      }
    }

    .input {
      border: none;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      padding: 8px 12px;
      font-size: 0.875rem;
      width: 100%;
      color: #172b4d;
      outline: none;
      border-radius: 3px;
      margin-bottom: 12px;

      &:focus {
        box-shadow: inset 0 0 0 2px #0079bf;

        &:hover {
          outline-color: inset 0 0 0 2px #0079bf;
          background-color: white;
        }
      }
    }
  }
}