.green {
  background-color: #7bc86c;
}

.yellow {
  background-color: #f5dd29;
}

.orange {
  background-color: #ffaf3f;
}

.red {
  background-color: #ef7564;
}

.purple {
  background-color: #cd8de5;
}

.dark-blue {
  background-color: #5ba4cf;
}

.blue {
  background-color: #29cce5;
}

.lime {
  background-color: #6deca9;
}

.pink {
  background-color: #ff8ed4;
}

.navy {
  background-color: #172b4d;
}

.light-grey {
  background-color: #5e6c844d;
}

.grey {
  background-color: #091e4299;
}

.white {
  background-color: white;
}

