.board-filter {
  width: 384px;
  padding: 0 12px 12px;
  color: #5e6c84;
  .filter-container {
    position: relative;
  }

  h3 {
    font-size: 13px;
    font-weight: 600;
  }

  h3:first-of-type {
    margin: 24px 0 8px;
  }

  .search-filter {
    height: 36px;
    @include inputFocus();
  }

  .search-label {
    margin: 8px 0 4px;
    font-size: 11.7px;
  }
}
