.action-modal {
  .member-select-list {
    padding: 8px 0;
    width: 321px;

    ul {
      position: relative;
      margin-inline-start: 0;
      padding-inline-start: 0;


      li {
        padding-inline-start: 35px;
        padding: 6px 0 6px 42px;

        label {
          padding: 0;
        }

        &:hover {
          background-color: #e3e5e7;
        }

        .checkbox {
          left: 13px;
        }
      }
    }
  }
}