.action-modal {
  .member-select-list {
    padding: 8px 0;
    width: 321px;

    ul {
      position: relative;
      margin-inline-start: 0;
      padding-inline-start: 0;

      li {
        padding-inline-start: 42px;
        position: relative;

        label {
          padding: 6px 42px 6px 0;
        }

        &:hover {
          background-color: #e3e5e7;
        }

        .checkbox {
          left: 13px;
          top: 10px;
        }
      }
    }
  }
}
