.member-select-list {
  padding: 8px 0;
  width: 314px;

  ul {
    position: relative;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }

  li {
    padding-inline-start: 35px;

    &:hover {
      background-color: #e3e5e7;
    }

    .checkbox {
      left: 13px;
    }
  }
}
