@mixin inputFocus() {
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  background-color: #fafbfc;
  &:focus {
    background-color: white;
    box-shadow: inset 0 0 0 2px $blue-500;
  }
}

@mixin subHeader() {
  color: #5e6c84;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 16px;
  margin-top: 12px;
}

@mixin flexAlign() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin activeHoverBlue() {
  &:active:hover {
    background-color: #e4f0f5;
    color: rgb(0, 121, 192);
  }
}

@mixin smallScrollBar() {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bfc4ce;
    border-radius: 3px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #dadbe2;
    border-radius: 3px;
    height: 12px;
    margin-bottom: 8px;
    border-bottom: 10px solid transparent;
  }
}
