@mixin inputFocus() {
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  background-color: #fafbfc;
  &:focus {
    background-color: white;
    box-shadow: inset 0 0 0 2px $blue-500;
  }
}
