@font-face {
  font-family: CharlieDisplay-regular;
  src: url(../../fonts/Charlie/CharlieDisplay-Regular.ttf);
}

@font-face {
  font-family: CharlieDisplay-regular;
  src: url(../../fonts/Charlie/CharlieDisplay-Light.ttf);
}

@font-face {
  font-family: CharlieDisplay-bold;
  src: url(../../fonts/Charlie/CharlieDisplay-Bold.ttf);
}

@font-face {
  font-family: CharlieDisplay-semibold;
  src: url(../../fonts/Charlie/CharlieDisplay-Semibold.ttf);
}

@font-face {
  font-family: CharlieText-regular;
  src: url(../../fonts/Charlie/CharlieText-Regular.ttf);
}

@font-face {
  font-family: CharlieText-light;
  src: url(../../fonts/Charlie/CharlieText-Light.ttf);
}

@font-face {
  font-family: CharlieText-bold;
  src: url(../../fonts/Charlie/CharlieText-Bold.ttf);
}
