$blue-main: #2a62f6;
$blue-600: #3477ba;
$blue-500: #0079bf;
$light-gray: #45526c;
$background-gray: #ebecef;
$bg-gray-strong: #e1e4e9;

$green: #7bc86c;
$yellow: #f5dd29;
$orange: #ffaf3f;
$red: #ef7564;
$purple: #cd8de5;
$dark-blue: #5ba4cf;
